:root {
  --mianBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mianWhite: #f3f3f3;
  --mineDark: #232528;
  --mineYellow: #ffa400;
}

body {
  font-family: 'Oswald', sans-serif !important;
  /* zeby fonty dzialaly potrzeby flage !important, bootstrap nadpisuje body  */
  background: var(--mianWhite) !important;
  color: var(--mineDark) !important;
}

.text-title {
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mianBlue);
}

.text-bright {
  color: var(--lightBlue);
}

test {}